nav{
    color: antiquewhite;
    padding: 1%;
    background-color: #1c6805;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: white;
    margin: 0 0.5%;
    padding: 0.75%;
    font-size: 20px;
    display: inline-block;
    transition: transform 0.2 ease;
}

nav a:hover{
    background-color: #68b103;
    border-radius: 20px;
    transform: scale(1.05);
}

h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 220%;
    color: rgb(0, 0, 0);
}
p{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 120%;
}

header img{
    width: 100%;
}

body{
    background-color: #a4bc6b;
}

footer{
    margin: 2% 0 0 0;
    background-color: #1c6805;
    padding: 3%;
}

footer p{
    text-align: center;
    color: white;
    font-size: 120%;
}

footer img{
    width: 2.5%;
    height: 2.5%;
    margin: 2% 0 0 28%;
}
footer a{
    text-decoration: none;
    color:inherit;

}
.pe{
    font-size: 110%;
    display: inline-block;
    margin-left: 1%;
}
.container{
    border-radius: 25px;
    backdrop-filter: blur(10px) brightness(120%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    width: 50%;
    height: 25%;
    padding: 2.5%;
    background: rgba(255, 255, 255, 0.2);
    margin: 2% 25%;
    transition: transform 0.2s ease;
}
form{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
}
form p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 120%;
    text-align: center;
    margin-bottom: 0;
}
.butao{
    background-color: #1c6805;
    border-radius: 14px;
    text-align: center;
    display: inline-block;
    transition: transform 0.2 ease;
    color: white;
    border: solid 2px #fff;
    padding: 2% 4%;
}
.butao:hover{
    background-color: #68b103;
    transform: scale(1.05);
}
textarea{
    border-radius: 10px;
}