nav{
    color: antiquewhite;
    padding: 1%;
    background-color: #1c6805;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: white;
    margin: 0 0.5%;
    padding: 0.75%;
    font-size: 20px;
    display: inline-block;
    transition: transform 0.2 ease;
}

nav a:hover{
    background-color: #68b103;
    border-radius: 20px;
    transform: scale(1.05);
}

header img{
    width: 100%;
}

body{
    background-color: #a4bc6b;
}

p {
    text-align: center;
    color: black;
    margin: 0 0 0 1%;
    font-size: 120%;
}

footer{
    margin: 2% 0 0 0;
    background-color: #1c6805;
    padding: 3%;
}

footer p{
    text-align: center;
    color: white;
    font-size: 120%;
}

footer img{
    width: 2.5%;
    height: 2.5%;
    margin: 2% 0 0 28%;
}
footer a{
    text-decoration: none;
    color:inherit;

}
.pe{
    font-size: 110%;
    display: inline-block;
    margin-left: 1%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 75%;
    padding: 1%;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px) brightness(110%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    margin: 2% 12%;
    transition: transform 0.2s ease;
}
.conteudo{
    width: 90%;
    height: 70%;
    border: 5px solid white;
    border-radius: 10px;
}
.conteudo img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.pessoa{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    width: 15%;
    height: 20%;
    padding: 1%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px) brightness(120%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    margin: 0.5% 0.5%;
    transition: transform 0.2s ease;
}
.pessoa:hover{
    transform: scale(1.025);
}
.name{
    width: 55%;
    font-size: 0.9em;
    background-color: aliceblue;
    border-radius: 7px;
}
.container h1{
    margin: 10% 0px;
    font-size: 200%;
}